<div class="btn-group" role="toolbar" style="margin-bottom:10px;">
  <button id='appmlbtn_first'    type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-fast-backward"></span></button>
  <button id='appmlbtn_previous' type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-backward"></span></button>
  <button id='appmlbtn_text'  type="button" class="btn btn-default disabled"></button>
  <button id='appmlbtn_next'     type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-forward"></span></button>
  <button id='appmlbtn_last'     type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-fast-forward"></span></button>
  <button id='appmlbtn_query'    type="button" class="btn btn-primary">
  <span class="glyphicon glyphicon-search"></span> Filter</button>
</div>

<div id="appmlmessage" class="alert alert-warning" role="alert" style="display:none;">
  <div id="message"></div>
</div>