<div class="btn-toolbar" role="toolbar" style="margin-bottom:10px;">
<div class="btn-group">
  <button id='appmlbtn_first' type="button" class="btn btn-default"><span class="glyphicon glyphicon-fast-backward"></span></button>
  <button id='appmlbtn_previous' type="button" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span></button>
  <button id='appmlbtn_text' type="button" class="btn btn-default disabled"></button>
  <button id='appmlbtn_next' type="button" class="btn btn-default"><span class="glyphicon glyphicon-forward"></span></button>
  <button id='appmlbtn_last' type="button" class="btn btn-default"><span class="glyphicon glyphicon-fast-forward"></span></button>
</div>
</div>
<div id="appmlmessage" class="alert alert-warning" role="alert" style="display:none;">
  <button type="button" class="close" onclick="this.parentNode.style.display='none';"><span>&times;</span><span class="sr-only">Close</span></button>
  <div id="message"></div>
</div>